h2{color:blue; font-size:40px; text-align: center;}
p{color:green; font-size:18px;}
h2{color:red; font-size: 25px;}
ul{color:blue; font-size:18px;}
body{background-color:lightblue;}
h1{color:blue; front-size:40px; text-align:center;}